<% if @team.errors.any? %>
<ul>
  <% @team.errors.full_messages.each do |m| %>
  <%= m %>
  <% end %>
</ul>
<% end %>

<%= form_with(model: @team,local: true) do |f| %>

  <p>
    <%= f.label :Name %><br/>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit "add"  %>
  </p>

<% end %>
