<h1>Editing Employee Details</h1>
<% if current_employee.role.name=='admin' %>
<%= render 'form' %>
<% else %>
<%= form_with(model: @employee,local: true) do |f| %>

  <p>
    <%= f.label :First_Name %><br/>
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :Last_Name %><br/>
    <%= f.text_field :last_name %>
  </p>

  <p>
    <%= f.label :Age %><br/>
    <%= f.number_field :age %>
  </p>
  <p>
    <%= f.label :Address %><br/>
    <%= f.text_area  :address %>
  </p>
  <p>
    <%= f.label :Mobile %><br/>
    <%= f.number_field:mobilenumber %>
  </p>



  <p>
    <%= f.submit(@employee.new_record? ? "Sign up" : "Update Employee") %>
  </p>

<% end %>

<% end %>
